:root {
  --separate-color: #d5e1df;
  --main-padding: 15px;
}

* {
  box-sizing: inherit;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html {
  font-size: 100%;
}

hr {
  margin: 5px 0px 0px 0px;
}

p {
  margin: 0;
}

::placeholder {
  font-size: 12px;
}

button {
  background: none;
  border: solid 0.5px rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
}

/* css header section */
.header {
  min-height: 35px;
  display: flex;
  align-items: center;
  margin: 0px var(--main-padding);
}

.header > img {
  margin-left: 10px;
  /* animation: anim-ninja-run 0.75s infinite ease-in-out; */
}

@keyframes anim-ninja-run {
  0% {
    margin-left: 10px;
    opacity: 0.2;
  }
  25% {
    opacity: 1;
  }
  50% {
    margin-left: 30px;
    opacity: 0.2;
  }
  75% {
    margin-left: 60px;
    opacity: 1;
  }
  100% {
    margin-left: 90px;
    opacity: 0.2;
  }
}

/* css main section  */
.main {
  /* background-color: aquamarine; */
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.main__buttons {
  display: flex;
  padding: 0px var(--main-padding);
  margin: 20px 0px 10px 0px;
}

.main__buttons button:last-child {
  margin-left: auto;
}

.main__buttons button {
  height: 30px;
  min-width: 90px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.main__buttons button:before {
  content: "";
  background-color: red;
  min-width: 20px;
  min-height: 20px;
  opacity: 1;
}

.button__circle {
  content: "";
  width: 20px;
  height: 20px;
  background: rgb(226, 225, 225);
  background: linear-gradient(
    90deg,
    rgba(226, 225, 225, 1) 0%,
    rgba(203, 203, 203, 1) 24%,
    rgba(166, 166, 166, 1) 56%
  );
  border-radius: 100%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.main__buttons button:hover .button__circle {
  width: 200px;
  height: 200px;
  opacity: 1;
}

.main__buttons button:hover .main__button-name {
  color: white;
  transition: all 0.4s ease;
}

.main__list {
  min-height: 200px;
  background-color: white;
  margin: 0px var(--main-padding);
  padding: 0px;
  border: dashed 1px var(--separate-color);
}

.main__item {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  height: 30px;
  align-items: center;
  margin: 0px 5px;
  border-bottom: dashed 1px rgb(199, 198, 198);
}

.main__item--file {
  background-color: #ccffe7;
}
.main__item--folder {
  background-color: #ffd3d3;
}

.main__item-left {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__item-left > p {
  font-size: small;
  /* background-color: red; */
  overflow: hidden;
  max-width: 500px;
}

.main__item-left > button {
  border: none;
}

.main__item-type {
  margin-right: 10px;
  font-size: small;
}

button + p {
  margin-left: 10px;
}

.main__timer {
  align-self: center;
  margin-top: 10px;
  /* background-color: red; */
  height: 60px;
  display: flex;
  align-items: center;
}

.main__timer-button {
  width: 34px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.main__timer-button:hover {
  background-color: var(--separate-color);
}

.main__timer-input {
  width: 35px;
  border: none;
  border-bottom: dotted 1px gray;
}

.button--hide {
  display: none;
}

/* css footer section */
.footer {
  background-color: rgb(241, 241, 241);
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer > div > label {
  font-size: 0.8rem;
}
