:root {
  --separate-color: #d5e1df;
  --main-padding: 15px;
  --glow-color: gray;
}

* {
  box-sizing: inherit;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html {
  font-size: 100%;
}

hr {
  margin: 5px 0px 0px 0px;
}

p {
  margin: 0;
}

::placeholder {
  font-size: 12px;
}

button {
  background: none;
  border: solid 0.5px rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
}

/* css header section */
.header {
  min-height: 35px;
  display: flex;
  align-items: center;
  margin: 0px var(--main-padding);
}

.header > img {
  margin-left: 10px;
  /* animation: anim-ninja-run 0.75s infinite ease-in-out; */
}

@keyframes anim-ninja-run {
  0% {
    margin-left: 10px;
    opacity: 0.2;
  }
  25% {
    opacity: 1;
  }
  50% {
    margin-left: 30px;
    opacity: 0.2;
  }
  75% {
    margin-left: 60px;
    opacity: 1;
  }
  100% {
    margin-left: 90px;
    opacity: 0.2;
  }
}

/* css main section  */
.main {
  /* background-color: aquamarine; */
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.main__buttons {
  display: flex;
  padding: 0px var(--main-padding);
  margin: 20px 0px 10px 0px;
}

.main__buttons button:last-child {
  margin-left: auto;
}

.main__buttons button {
  height: 30px;
  min-width: 90px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.main__buttons button:before {
  content: "";
  background-color: red;
  min-width: 20px;
  min-height: 20px;
  opacity: 1;
}

.button__circle {
  content: "";
  width: 20px;
  height: 20px;
  background: rgb(210, 210, 210);
  background: radial-gradient(
    circle,
    rgba(210, 210, 210, 1) 0%,
    rgba(203, 203, 203, 1) 35%,
    rgba(130, 130, 130, 0.9724264705882353) 100%
  );
  border-radius: 100%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.main__buttons button:hover .button__circle {
  width: 200px;
  height: 200px;
  opacity: 1;
}

.main__buttons button:hover {
  border-color: var(--separate-color);
}

.main__buttons button:hover .main__button-name {
  color: white;
}

.main__list {
  width: auto;
  min-height: 200px;
  background-color: white;
  margin: 0px var(--main-padding);
  padding: 0px;
  border: dashed 2px var(--separate-color);
}

.main__item {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  height: 30px;
  align-items: center;
  margin: 0px 5px;
  border-bottom: dashed 1px rgb(199, 198, 198);
}

.main__item--file {
  background-color: #ccffe7;
}
.main__item--folder {
  background-color: #ffd3d3;
}

.main__item-left {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__item-left > p {
  font-size: small;
  /* background-color: red; */
  overflow: hidden;
  max-width: 500px;
}

.main__item-btn-remove {
  border: none;
  background-color: none;
}

.main__item-btn-remove:hover {
  border: none;
  box-shadow: 0 0 0 1em transparent;
  animation: pulse 1s, shake-animatino 0.6s infinite linear alternate;
}

@keyframes shake-animatino {
  0% {
    transform: rotate(25deg);
  }
  15% {
    transform: rotate(-25deg);
  }
  30% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.main__item-type {
  margin-right: 10px;
  font-size: small;
}

button + p {
  margin-left: 10px;
}

.main__timer {
  align-self: center;
  margin-top: 10px;
  /* background-color: red; */
  height: 60px;
  display: flex;
  align-items: center;
}

.main__timer-button {
  width: 29px;
  height: 40px;
  border-radius: 100px;
  border: solid 1px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  position: relative;
  color: gray;
}
.main__timer-button::before {
  content: "";
  position: absolute;
  /* box-shadow: inset 0 0 0 0 transparent;
  width: 100%;
  height: 100%;
  border-radius: 100%; */
  border-radius: 100%;
  background: rgb(210, 210, 210);
  background: radial-gradient(
    circle,
    rgba(210, 210, 210, 1) 0%,
    rgba(203, 203, 203, 1) 35%,
    rgba(130, 130, 130, 0.9724264705882353) 100%
  );
  opacity: 0;
  width: 20px;
  height: 20px;
  transition: all 0.5s;
  z-index: -1;
}

.main__timer-button:hover {
  color: white;
}

.main__timer-button:hover::before {
  /* box-shadow: inset 0 0 30px 0px var(--glow-color); */
  opacity: 1;
  width: 100%;
  height: 100%;
}

.main__timer-button--click {
  /* background-color: var(--separate-color); */
  box-shadow: 0 0 0 2em transparent;
  transition: all 0.2s ease;
  animation: pulse 1s, gelatine 0.2s ease-in alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--glow-color);
  }
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.main__timer-input {
  width: 35px;
  border: none;
  border-bottom: dotted 1px gray;
}

.button--hide {
  display: none;
}

/* css footer section */
.footer {
  background-color: rgb(241, 241, 241);
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer > div > label {
  font-size: 0.8rem;
}
